@charset "utf-8";
body {
	font-size: 16px;
	font-family: "微软雅黑";
	background-color: rgb(239,239,239);
	overflow-x: hidden;
}
.container {
	position: relative;
	margin: 60px auto;
}
h2 {
	margin: 0 auto;
	margin-bottom: 10px;
	text-align: center;
    font-size: 30px;
    color: green;
    text-shadow: 5px 5px 5px #51a351;
}
@media screen and (min-width: 320px) and (max-width: 768px) {
	ul.main_list , h2 , ul.main_list li a , ul.main_list li span {
		width: 300px;
	}
	.visited > .parent_li > span ,.parent_li a {
		width: 260px !important;
		margin-left: 40px;
	}
	.parent_li .parent_li a , .visited > .parent_li > a {
		width: 220px !important;
		margin-left: 80px;
	}
}
@media screen and (min-width: 768px) and (max-width: 992px) {
	ul.main_list , h2 , ul.main_list li a , ul.main_list li span {
		width: 600px;
	}
	.visited > .parent_li > span ,.parent_li a {
		width: 560px !important;
		margin-left: 40px;
	}
	.parent_li .parent_li a , .visited > .parent_li > a {
		width: 520px !important;
		margin-left: 80px;
	}
}
@media screen and (min-width: 992px) and (max-width: 1200px) {
	ul.main_list , h2 , ul.main_list li a , ul.main_list li span {
		width: 800px;
	}
	.visited > .parent_li > span ,.parent_li a {
		width: 760px !important;
		margin-left: 40px;
	}
	.parent_li .parent_li a , .visited > .parent_li > a {
		width: 720px !important;
		margin-left: 80px;
	}
}
@media screen and (min-width: 1200px) {
	ul.main_list , h2 , ul.main_list li a , ul.main_list li span {
		width: 1000px;
	}
	.visited > .parent_li > span ,.parent_li a {
		width: 960px !important;
		margin-left: 40px;
	}
	.parent_li .parent_li a , .visited > .parent_li > a {
		width: 920px !important;
		margin-left: 80px;
	}
}
ul.main_list {
	position: relative;
	margin: 0 auto;
}
ul.main_list li {
	list-style-type: none;
}
ul.main_list li a {
	padding-left: 20px;	
	padding-right: 20px;	
	margin-bottom: 5px;	
	display: inline-block;
	color: gray;
	height: 40px;
	line-height: 40px;
	border: 1px solid green;
	text-decoration: none;
	border-radius: 4px;
	background-color: #FFF;overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}

ul.main_list li a:hover {			
	display: inline-block;
	color: #FFF;
	text-decoration: none;
	text-indent: 20px;
	transition: text-indent 1s;
	-webkit-transition:text-indent 1s;
	-o-transition:text-indent 1s;
	-moz-transition:text-indent 1s;
	background-image:-webkit-linear-gradient(left,#62c462,#51a351);
	background-image:-moz-linear-gradient(right,#62c462,#51a351);
	background-image:-o-linear-gradient(right,#62c462,#51a351);
	background-image:linear-gradient(to right,#62c462,#51a351);
}
.parent_li span {	
	padding-left: 20px;
	padding-right: 20px;
	display: inline-block;
	margin-bottom: 5px;
	text-align: left;
	height: 40px;
	line-height: 40px;
	background-color: #FFF;
	border-radius: 4px;
	color: gray;
	border: 1px solid green;
	background-color: #FFF;overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.parent_li span:hover {
	background-color: green;
	border: 1px solid green;
	border-radius: 4px;
	cursor: pointer;
	color: #FFF;
	text-indent: 20px;
	transition: text-indent 1s;
	-webkit-transition:text-indent 1s;
	-o-transition:text-indent 1s;
	-moz-transition:text-indent 1s;
	background-image:-webkit-linear-gradient(left,#62c462,#51a351);
	background-image:-moz-linear-gradient(right,#62c462,#51a351);
	background-image:-o-linear-gradient(right,#62c462,#51a351);
	background-image:linear-gradient(to right,#62c462,#51a351);
}
.parent_li span:hover i {
    border-color: transparent transparent transparent #FFF;
    margin-right: 5px;
}
.parent_li span i {
	margin-left: -10px;
	display: inline-block;
    width:0;
    height:0;
    border-width:5px;
    border-style:solid dashed dashed dashed;
    border-color: transparent transparent transparent gray;
}
.parent_li span i.on {
	margin-left: -15px;
    margin-right: 5px;
	display: inline-block;
    width:0;
    height:0;
    border-width:5px;
    border-style:solid dashed dashed dashed;
    border-color: gray transparent transparent transparent;
}
.parent_li span:hover i.on {
    border-color: #FFF transparent transparent transparent;
    margin-right: 10px;
}
.hidden {
	display: none;
}
.visited {
	display: block;
}
:after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.parent_li ul li {
	position: relative;
}
.container li:before,.container li:after {
	content: '';
    left: 20px;
    position: absolute;
    right: auto;
}
.visited > .parent_li li:before, .visited > .parent_li li:after{
	left: 60px;
}
/*竖线*/
.container li:before {
    border-left: 1px solid green;
    height: 100%;
    width: 1px;
    top: -5px;
}
/*横线*/
.container li:after {
	border-top: 1px solid green;
    width: 20px;
    height: 1px;
    top: 20px;
}
/*首层li的边框线设置为白色*/
.container > ul > li:before,.container > ul > li:after {
	border: 0;
}
/*每个ul中的最后一个li的竖线设置固定高，然后top到顶端，使前层li的竖线变短*/
.container li:last-child:before {
    height: 30px;
}

/*aside*/
.aside {
	display: none;
	position: fixed;
	top: 449px;
	right: 30px;
	width: 36px;
	height: 36px;
}
.aside a {
	display: block;
	width: 36px;
	height: 36px;
	line-height: 36px;
    border-radius: 50%;
    background-color: #ccc;
    background-image: url(../img/share-icons.png);
    background-repeat: no-repeat;
    background-position: -2px -223px;
    cursor: pointer;
    transition: all .5s ease;
}
.aside a:hover {
    background-color: #2E88CE;
    background-position: -48px -223px;
}